body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1b5597;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}
h1 {
  color: #fff;
  font-size: 40px;
  margin-bottom: 50px;
}
#container {
  width: fit-content;
  height: fit-content;
  border: solid #fff;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#text {
  width: 400px;
  height: 200px;
  /* border: #fff solid; */
  margin: 24px 0 24px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#quote {
  /* border: solid#fff; */
  margin: 30px;
  color: #fff;
  font-size: 20px;
}
#author {
  /* border: solid#fff; */
  align-self: self-end;
  margin: 24px;
  color: #fff;
  font-size: 20px;
}
.btn {
  background-color: #fff;
  color: #1b5597;
  font-weight: 600;
  font-size: 16px;
  border: solid #fff 2px;
  border-radius: 20px;
  padding: 10px 20px;
}
.btn:hover {
  background-color: #1b5597;
  color: #fff;
}
#buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 24px;
  width: 350px;
}
.fa-copy {
  margin-right: 8px;
}
